*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.container h1{
    text-align: center;
    color: #fff;
}

.step-one{
    display: flex;
    align-self: center;
    margin: 200px auto;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    gap: 15px;
    border-radius: 10px;
    
}

.step-one p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.button{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(148, 86, 248);
    color: #fff;
}

.button:hover{
    background-color: purple;
    transition: all 300ms ease-in-out;
    
}

.step-two {
    align-self: center;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;

}

.step-two h3{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    padding: 15px;
}

.step-two input{

    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: none;
    outline: 0;

}

.step-two label{
    color: #fff;
}

.step-final{
    align-self: center;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;

}

.step-final h3, p{
    color: #fff;

}

.step-two, .step-final{
    display: none;
}

#result{
    font-size: 24px;
}